<!DOCTYPE html>
<html>
<head>
  <title>Dms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target=".navbar-collapse">
      </button>
      <%= link_to "DMS", root_path, :class => "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
            Welcome <%= current_user.email %>! Not you?
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <p class="notice"><%= notice %></p>
      </div>
  <% end %>
  <% if flash[:alert] %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <p class="alert"><%= alert %></p>
      </div>
  <% end %>
  <% if flash[:error] %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <div id="error">
          <%= flash[:error] %>
        </div>
      </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
