<p id="notice"><%= notice %></p>

<p>
  <strong>Document name:</strong>
  <%= @document.document_name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @document.comment %>
</p>

<p>
  <strong>File location:</strong>
  <%= @document.file_location %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @document.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @document.updated_by %>
</p>

<p>
  <strong>Project:</strong>
  <%= @document.project_id %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
