<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @prerequisite.document_id %>
</p>

<p>
  <strong>Prerequisite:</strong>
  <%= @prerequisite.prerequisite_id %>
</p>

<%= link_to 'Edit', edit_prerequisite_path(@prerequisite) %> |
<%= link_to 'Back', prerequisites_path %>
