<%= form_for(@document_version) do |f| %>
  <% if @document_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document_version.errors.count, "error") %> prohibited this document_version from being saved:</h2>

      <ul>
      <% @document_version.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :document_name %><br>
    <%= f.text_field :document_name %>
  </div>
  <div class="field">
    <%= f.label :version_document_name %><br>
    <%= f.text_field :version_document_name %>
  </div>
  <div class="field">
    <%= f.label :file_location %><br>
    <%= f.text_area :file_location %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :created_by_id %><br>
    <%= f.text_field :created_by_id %>
  </div>
  <div class="field">
    <%= f.label :updated_by_id %><br>
    <%= f.text_field :updated_by_id %>
  </div>
  <div class="field">
    <%= f.label :document_id_id %><br>
    <%= f.text_field :document_id_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
