<h1>Listing document_versions</h1>

<table>
  <thead>
    <tr>
      <th>Document name</th>
      <th>Version document name</th>
      <th>File location</th>
      <th>Comment</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_versions.each do |document_version| %>
      <tr>
        <td><%= document_version.document_name %></td>
        <td><%= document_version.version_document_name %></td>
        <td><%= document_version.file_location %></td>
        <td><%= document_version.comment %></td>
        <td><%= document_version.created_by %></td>
        <td><%= document_version.updated_by %></td>
        <td><%= document_version.document_id %></td>
        <td><%= link_to 'Show', document_version %></td>
        <td><%= link_to 'Edit', edit_document_version_path(document_version) %></td>
        <td><%= link_to 'Destroy', document_version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document version', new_document_version_path %>
