<div class="page-header">
  <h1>List all versions for <%= Document.find(params[:docId]).name %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Version</th>
      <th>Comment</th>
      <th>Updated by</th>
      <th>Updated at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% doc_ver = DocumentVersion.order(:version).where(:project_id => params[:projectId],:document_id_id => params[:docId]) %>
    <% doc_ver.each do |document_version| %>
      <tr>
        <td><%= document_version.version %></td>
        <td><%= document_version.comment %></td>
        <% tmp_usr = User.find(document_version.updated_by_id) %>
        <td><%= tmp_usr.firstname+" "+tmp_usr.lastname %></td>
        <td><%= document_version.updated_at %></td>
        <td><%= link_to "Download this version", document_version.file.url,:class => "btn btn-info", :style => "width:100%;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="row">
    <div class="col-md-3">
        <%= link_to "Upload new vesion of this document", newDocVer_path(:projectId => params[:projectId], :docId => params[:docId]),:class => "btn btn-success", :style => "width:100%;"%>
    </div>
</div>