<!DOCTYPE html>
<html>
<head>
  <title>= D M S =</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target=".navbar-collapse">
      </button>
      <%= link_to "Document Management System", root_path, :class => "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
            Welcome <%= current_user.email %>! Not you?
           <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <% if !(notice == nil) %>
  <div class="alert alert-info" role="alert">
    <%= notice %>
  </div>
  <% end %>
  <% if !(alert == nil) %>
  <div class="alert alert-warning" role="alert">
    <%= alert %>
  </div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert" id="error">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= yield %>

</div>


</body>
</html>
