<h1>Listing prerequisites</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Prerequisite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prerequisites.each do |prerequisite| %>
      <tr>
        <td><%= prerequisite.document_id %></td>
        <td><%= prerequisite.prerequisite_id %></td>
        <td><%= link_to 'Show', prerequisite %></td>
        <td><%= link_to 'Edit', edit_prerequisite_path(prerequisite) %></td>
        <td><%= link_to 'Destroy', prerequisite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prerequisite', new_prerequisite_path %>
