<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :file_location %><br>
    <%= f.text_area :file_location %>
  </div>
  <div class="field">
    <%= f.label :created_by_id %><br>
    <%= f.text_field :created_by_id %>
  </div>
  <div class="field">
    <%= f.label :updated_by_id %><br>
    <%= f.text_field :updated_by_id %>
  </div>
  <div class="field">
    <%= f.label :project_id_id %><br>
    <%= f.text_field :project_id_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
