<div class="page-header">
  <h1>Listing projects</h1>
</div>

<%= form_for projects_path, :method => 'get' do %>
  <div class="navbar-form navbar-right">
    <div class="form-group">
      <%= text_field_tag :search, params[:search], :class => "form-control"%>
    </div>
      <%= submit_tag "Search", :name => nil, :class => "btn btn-success" %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Project name</th>
      <th>User Type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <% if (UserType.find(current_user.user_type_id_id).id == 1) %>
        <th colspan="2">Action</th>
      <% end %>


    </tr>
  </thead>

  <tbody>
    <% @current_user_work_on_project.each do |project| %>
      <tr>
        <td><%= link_to Project.find(project.project_id_id).project_name,  Project.find(project.project_id_id) %></td>
        <% if current_user.id == project.created_by_id %>
        <td>Team Manager</td>
        <% else %>
        <td>Team Member</td>
        <% end %>


        <% statusCompletion = DocumentVersion.where(:project_id => project.id, :approveStatus => "Approved").count %>
        <td><%= Project.find(project.project_id_id).start_date %></td>
        <td><%= Project.find(project.project_id_id).end_date %></td>
        <td>
          <div id="bar-container">
            <div id="bar-2" class="bar-main-container emerald">
              <div class="wrap">
                <div class="bar-percentage" data-percentage="<%= statusCompletion %>"></div>
                <div class="bar-container">
                  <div class="bar"></div>
                </div>
              </div>
            </div>
          </div>
        </td>

        <% if current_user.id == project.created_by_id %>
        <td class="col-md-1"><%= link_to image_tag('edit.png'), edit_project_path(Project.find(project.project_id_id)),:class => "action-control" %>
        <%= link_to image_tag('delete.png'), Project.find(project.project_id_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if (UserType.find(current_user.user_type_id_id).id == 1) %>
<div class="col-md-3">
  <%= link_to 'New Project', new_project_path, :class => "btn btn-primary", :style => "width:100%;" %>
</div>
<% end %>

<script type="text/javascript">
$('.bar-percentage[data-percentage]').each(function () {
  var progress = $(this);
  var percentage = Math.ceil($(this).attr('data-percentage'));
  var total = 15;
  var percentage = percentage * (20/3);

  $({countNum: 0}).animate({countNum: percentage}, {
    duration: 1000,
    easing:'linear',
    step: function() {
      // What todo on every count
    var pct = '';
    if(percentage == 0){
      pct = Math.floor(this.countNum) + '%';
    }else{
      pct = Math.floor(this.countNum+1) + '%';
    }
    progress.text(pct) && progress.siblings().children().css('width',pct);
    }
  });
});
</script>
