<div class="page-header">
  <h1><%= @project.project_name %> Project</h1>
</div>

<ul class="nav nav-tabs" role="tablist" id="myTab">
  <% if current_user.user_type_id_id == 1 %>
      <li role="presentation" class="active"><a href="#assign" aria-controls="assign" role="tab" data-toggle="tab">Assign team members</a></li>
      <li role="presentation"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Project details</a></li>
      <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">All members</a></li>
      <li role="presentation"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">All documents</a></li>
  <% else %>
      <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Project details</a></li>
      <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">All members</a></li>
      <li role="presentation"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">All documents</a></li>
  <% end %>

</ul>

<div class="tab-content">
  <% if current_user.user_type_id_id == 1 %>
  <!-- 1st tab -->
  <div role="tabpanel" class="tab-pane active" id="assign">
    <div class="panel panel-danger">
      <div class="panel-heading"><strong>Team members assign</strong></div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Team Members</th>
          <th>Assign</th>
        </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
            <tr>
              <td><%= user.firstname+ " "+ user.lastname  %></td>
              <% if (ProjectUserRole.find_by(:user_id_id => user.id, :project_id_id=> @project.id)).nil? %>
                  <td><%= link_to "Assign", {:controller => :projects, :action=> :set_active, :project_id => @project.id, user_id: user.id}, :class =>'btn btn-success', :style=>"width:40%;" %></td>
              <% else %>
                  <td><%= link_to "Remove", {:controller => :projects, :action=> :set_deactive, :project_id => @project.id, user_id: user.id}, :class =>'btn btn-danger', :style=>"width:40%;" %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- 2nd tab -->
  <div role="tabpanel" class="tab-pane" id="details">
    <div class="panel panel-info">
      <div class="panel-heading"><strong>Project Details</strong></div>

      <table class="table table-bordered table-striped">
        <tr>
          <td><strong>Project name</strong></td>
          <td><%= @project.project_name %></td>
        </tr>
        <tr>
          <td><strong>Start date</strong></td>
          <td><%= @project.start_date %></td>
        </tr>
        <tr>
          <td><strong>Project Manager</strong></td>
          <% mng = User.find(ProjectUserRole.find_by(:project_id_id=>@project.id,:role_id_id=>1).user_id_id) %>
          <td><%= mng.firstname+' '+mng.lastname %></td>
        </tr>
      </table>
    </div>
  </div>
  <% else %>

      <!-- 2nd tab -->
      <div role="tabpanel" class="tab-pane active" id="details">
        <div class="panel panel-info">
          <!-- Default panel contents -->
          <div class="panel-heading"><strong>Project Details</strong></div>

          <table class="table table-bordered table-striped">
            <tr>
              <td><strong>Project name</strong></td>
              <td><%= @project.project_name %></td>
            </tr>
            <tr>
              <td><strong>Start date</strong></td>
              <td><%= @project.start_date %></td>
            </tr>
            <tr>
              <td><strong>Project Manager</strong></td>
              <% mng = User.find(ProjectUserRole.find_by(:project_id_id=>@project.id,:role_id_id=>1).user_id_id) %>
              <td><%= mng.firstname+' '+mng.lastname %></td>
            </tr>
          </table>
        </div>
      </div>

  <% end %>
  <!-- 3rd tab -->
  <div role="tabpanel" class="tab-pane" id="members">
    <div class="panel panel-warning">
      <div class="panel-heading"><strong>Member list</strong></div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Role</th>
        </tr>
        </thead>

        <tbody>
        <% count = 1 %>
        <% @members.each do |member| %>
            <tr>
              <td><%= count  %></td>
              <td><%= User.find(member.user_id_id).firstname+ " "+ User.find(member.user_id_id).lastname %></td>
              <td><%= Role.find(member.role_id_id).role_name %></td>
            </tr>
            <% count += 1 %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 4th tab -->
  <div role="tabpanel" class="tab-pane" id="documents">
    <div class="panel panel-success">
      <div class="panel-heading"><strong>Document list</strong></div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Document name</th>
          <th>Version</th>
          <th>Updated at</th>
          <th>Updated by</th>
          <th colspan="3">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @documents.each do |doc| %>
            <tr>
              <td><%= doc.id %></td>
              <td><%= doc.name  %></td>
              <% max_version = DocumentVersion.where(:project_id => @project.id, :document_id_id => doc.id).maximum(:version) %>
              <% if max_version.nil? %>
                <td>0</td>
                <td>-</td>
                <td>System</td>
                <td><a href='#' class = "btn btn-info disabled" style = "width:100%;">All Versions</a></td>
                <td><%=  link_to 'Download Lastest Version', root_url+'templates/'+doc.file_location ,:class => "btn btn-warning", :style => "width:100%;"%></td>
              <% else %>
                <td><%= max_version %></td>
                <% tmp_dv = DocumentVersion.where(:project_id => @project.id, :document_id_id => doc.id, :version=> max_version) %>
                  <% tmp_dv.each do |my_dv| %>
                    <td><%= my_dv.updated_at %></td>
                    <% usr2 =  User.find(my_dv.updated_by_id) %>
                    <td><%= usr2.firstname+" "+usr2.lastname %></td>
                    <td><%= link_to 'All Versions',docVer_path(:projectId => @project.id, :docId => doc.id),:class => "btn btn-info", :style => "width:100%;" %></td>
                    <td><%= link_to 'Download Lastest Version', my_dv.file.url,:class => "btn btn-warning", :style => "width:100%;" %></td>
                  <% end %>
              <% end%>
              <td><%= link_to 'Upload',newDocVer_path(:projectId => @project.id, :docId => doc.id),:class => "btn btn-danger", :style => "width:100%;" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>

<hr/>
<%= image_tag("quality_workflow.png", :alt => "Quality Management Workflow", :style=>"width:100%;")  %>
<hr/>
