<div class="page-header">
  <h1><%= @project.project_name %> Project</h1>
</div>

<ul class="nav nav-tabs" role="tablist" id="myTab">
  <% if ProjectUserRole.find_by(:user_id_id => current_user.id, :project_id_id => @project.id).role_id_id == 1 %>
      <li role="presentation" class="active"><a href="#assign" aria-controls="assign" role="tab" data-toggle="tab">Assign team members</a></li>
      <li role="presentation"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Project details</a></li>
      <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">All members</a></li>
      <li role="presentation"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">All documents</a></li>
      <li role="presentation"><a href="#approveDoc" aria-controls="approveDoc" role="tab" data-toggle="tab">Approve Documents</a></li>
      <li role="presentation"><a href="#logRecords" aria-controls="logRecords" role="tab" data-toggle="tab">Log Records</a></li>
  <% else %>
      <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Project details</a></li>
      <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">All members</a></li>
      <li role="presentation"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">All documents</a></li>
      <li role="presentation"><a href="#logRecords" aria-controls="logRecords" role="tab" data-toggle="tab">Log Records</a></li>
  <% end %>

</ul>

<div class="tab-content">
  <% if ProjectUserRole.find_by(:user_id_id => current_user.id, :project_id_id => @project.id).role_id_id == 1 %>
  <!-- 1st tab -->
  <div role="tabpanel" class="tab-pane active" id="assign">
    <div class="panel panel-danger">
      <div class="panel-heading"><strong>Team members assign</strong></div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Team Members</th>
          <th>Designation</th>
          <th>Assign</th>
        </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
            <tr>
              <td><%= user.firstname+ " "+ user.lastname  %></td>
              <td><%= UserType.find(user.user_type_id_id).designation  %></td>
              <% if (ProjectUserRole.find_by(:user_id_id => user.id, :project_id_id=> @project.id)).nil? %>
                  <td><%= link_to "Assign", {:controller => :projects, :action=> :set_active, :project_id => @project.id, user_id: user.id}, :class =>'btn btn-success', :style=>"width:40%;" %></td>
              <% else %>
                  <td><%= link_to "Remove", {:controller => :projects, :action=> :set_deactive, :project_id => @project.id, user_id: user.id}, :class =>'btn btn-danger', :style=>"width:40%;" %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- 2nd tab -->
  <div role="tabpanel" class="tab-pane" id="details">
    <div class="panel panel-info">
      <div class="panel-heading"><strong>Project Details</strong></div>

      <table class="table table-bordered table-striped">
        <tr>
          <td><strong>Project name</strong></td>
          <td><%= @project.project_name %></td>
        </tr>
        <tr>
          <td><strong>Start date</strong></td>
          <td><%= @project.start_date %></td>
        </tr>
        <tr>
          <td><strong>Project Manager</strong></td>
          <% mng = User.find(ProjectUserRole.find_by(:project_id_id=>@project.id,:role_id_id=>1).user_id_id) %>
          <td><%= mng.firstname+' '+mng.lastname %></td>
        </tr>
        <tr>
          <td><strong>Status</strong></td>
          <% statusCompletion = DocumentVersion.where(:project_id => @project.id, :approveStatus => "Approved").count %>
          <td>
            <div id="bar-container">
            <div id="bar-2" class="bar-main-container emerald">
              <div class="wrap">
                <div class="bar-percentage" data-percentage="<%= statusCompletion %>"></div>
                <div class="bar-container">
                  <div class="bar"></div>
                </div>
              </div>
            </div>
          </div>

          </td>
        </tr>
      </table>
    </div>
  </div>
  <% else %>

      <!-- 2nd tab -->
      <div role="tabpanel" class="tab-pane active" id="details">
        <div class="panel panel-info">
          <!-- Default panel contents -->
          <div class="panel-heading"><strong>Project Details</strong></div>

          <table class="table table-bordered table-striped">
            <tr>
              <td><strong>Project name</strong></td>
              <td><%= @project.project_name %></td>
            </tr>
            <tr>
              <td><strong>Start date</strong></td>
              <td><%= @project.start_date %></td>
            </tr>
            <tr>
              <td><strong>Project Manager</strong></td>
              <% mng = User.find(ProjectUserRole.find_by(:project_id_id=>@project.id,:role_id_id=>1).user_id_id) %>
              <td><%= mng.firstname+' '+mng.lastname %></td>
            </tr>
                    <tr>
          <td><strong>Status</strong></td>
          <% statusCompletion = DocumentVersion.where(:project_id => @project.id, :approveStatus => "Approved").count %>
          <%= statusCompletion %>

          <td>
            <div id="bar-container">
            <div id="bar-2" class="bar-main-container emerald">
              <div class="wrap">
                <div class="bar-percentage" data-percentage="<%= statusCompletion %>"></div>
                <div class="bar-container">
                  <div class="bar"></div>
                </div>
              </div>
            </div>
          </div>

          </td>
        </tr>
          </table>
        </div>
      </div>

  <% end %>
  <!-- 3rd tab -->
  <div role="tabpanel" class="tab-pane" id="members">
    <div class="panel panel-warning">
      <div class="panel-heading"><strong>Member list</strong></div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Role</th>
        </tr>
        </thead>

        <tbody>
        <% count = 1 %>
        <% @members.each do |member| %>
            <tr>
              <td><%= count  %></td>
              <td><%= User.find(member.user_id_id).firstname+ " "+ User.find(member.user_id_id).lastname %></td>
              <td><%= Role.find(member.role_id_id).role_name %></td>
            </tr>
            <% count += 1 %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 4th tab -->
  <div role="tabpanel" class="tab-pane" id="documents">
    <div class="panel panel-success">
      <div class="panel-heading"><strong>Document list</strong></div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Document name</th>
          <th>Version</th>
          <th>Updated at</th>
          <th>Updated by</th>
          <th>Remarks</th>
          <th colspan="3">Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- quality template validation -->
        <% qtv = 0 %>
        <% @documents.each do |doc| %>
          <% max_version = DocumentVersion.where(:project_id => @project.id, :document_id_id => doc.id).maximum(:version) %>
          <% if doc.templateVersion == '8.1' && !max_version.nil? %>
            <% qtv += 1 %>
          <% end %>
        <% end %>
        <!-- quality template validation -->

        <% @documents.each do |doc| %>
            <tr>
              <td><%= doc.id %></td>
              <td><%= doc.name  %></td>
              <% max_version = DocumentVersion.where(:project_id => @project.id, :document_id_id => doc.id).maximum(:version) %>
              <% remark  = DocumentVersion.where(:project_id => @project.id, :document_id_id => doc.id).minimum(:remark) %>
              <% if max_version.nil? %>
                <td>0</td>
                <td>-</td>
                <td>System</td>
                <td><%= remark %></td>
                <td><a href='#' class = "btn btn-info disabled" style = "width:100%;">All Versions</a></td>
                <td><%=  link_to 'Download Lastest Version', root_url+'templates/'+doc.file_location ,:class => "btn btn-warning", :style => "width:100%;"%></td>
              <% else %>
                <td><%= max_version %></td>
                <% tmp_dv = DocumentVersion.where(:project_id => @project.id, :document_id_id => doc.id, :version=> max_version) %>
                  <% tmp_dv.each do |my_dv| %>
                    <td><%=my_dv.updated_at.strftime("%Y-%m-%d") %></td>
                    <% usr2 =  User.find(my_dv.updated_by_id) %>
                    <td><%= usr2.firstname+" "+usr2.lastname %></td>
                    <td><%= remark %></td>
                    <td><%= link_to 'All Versions',docVer_path(:projectId => @project.id, :docId => doc.id),:class => "btn btn-info", :style => "width:100%;" %></td>
                    <td><%= link_to 'Download Lastest Version', my_dv.file.url,:class => "btn btn-warning", :style => "width:100%;" %></td>
                  <% end %>
              <% end%>



              <% if doc.templateVersion == '8.1' %>
                  <% if remark == 'Completed' %>
                    <td><a href='#' class = "btn btn-danger disabled" style = "width:100%;">Upload</a></td>
                  <% else %>
                    <td><%= link_to 'Upload',newDocVer_path(:projectId => @project.id, :docId => doc.id),:class => "btn btn-danger", :style => "width:100%;" %></td>
                  <% end %>
              <% else %>
                <% if qtv != 6  || remark == 'Completed' %>
                  <td><a href='#' class = "btn btn-danger disabled" style = "width:100%;">Upload</a></td>
                <% else %>
                  <td><%= link_to 'Upload',newDocVer_path(:projectId => @project.id, :docId => doc.id),:class => "btn btn-danger", :style => "width:100%;" %></td>
                <% end %>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane active" id="assign">
    <div class="panel panel-success">
      <div class="panel-heading"><strong>Quality Management Workflow</strong></div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th style = "width: 33%; ">8.1</th>
          <th style = "width: 33%; ">8.2</th>
          <th style = "width: 33%; ">8.3</th>
        </tr>
        </thead>
        <tbody>
        <% @documents.each do |document| %>
            <tr>
              <% if(document.templateVersion == '8.1') %>
              <td><%= link_to document.name , docVer_path(:projectId => @project.id, :docId => document.id) %></td>
              <% else %>
              <td></td>
              <% end %>


              <% if(document.templateVersion == '8.2') %>
              <td><% if (document.name.downcase =='Quality Metrics'.downcase || document.name =='Project Documents'.downcase)%>
                <%= link_to document.name , docVer_path(:projectId => @project.id, :docId => document.id) %><%= " "+ "------------------------->" %>
                <% else %>
                <%= link_to document.name , docVer_path(:projectId => @project.id, :docId => document.id)%>
                <% end %>
              </td>
              <% elsif (document.name).downcase == 'Project Management Plan'.downcase %>
              <td><%= "----------------------------------------------------------------------->" %></td>
              <% elsif (document.name).downcase == 'Organizational Process Assets'.downcase %>
              <td><%= "----------------------------------------------------------------->" %></td>
              <% else %>
              <td></td>
              <% end %>

              <% if(document.templateVersion == '8.3') %>
                <td><%= link_to document.name , docVer_path(:projectId => @project.id, :docId => document.id) %></td>
              <% elsif (document.name).downcase == 'Project Management Plan'.downcase %>
                <td><%= document.name %></td>
              <% elsif (document.name).downcase == 'Organizational Process Assets'.downcase %>
                <td><%= document.name %></td>
              <% elsif (document.name).downcase == 'Quality Metrics'.downcase %>
                <td><%= document.name %></td>
              <% elsif (document.name).downcase == 'Project Documents'.downcase %>
                <td><%= document.name %></td>
              <% else %>
              <td></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
</div>
  </div>
    <!-- 5th tab -->
  <div role="tabpanel" class="tab-pane" id="logRecords">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Log Records</strong></div>
      <table class="table table-bordered table-striped">
        <tbody>
        <% @logRecords.each do |logRecord| %>
            <tr>
              <td>
                <div class = "log_datetime"><%= distance_of_time_in_words_to_now(logRecord.updated_at) + ' ago' %></div>
                <b style ="color:#4183c4;"><%= logRecord.firstname %></b>
                <%= " " + "updated" + " " %>
                <%= link_to logRecord.document_name , docVer_path(:projectId => @project.id, :docId => logRecord.document_id_id) %>
                <div class ="log_comment"><%= logRecord.comment  %></div>

              </td>
<!--               <td><%= logRecord.document_name %></td>
              <td><%= logRecord.comment  %></td>
              <td><%= logRecord.firstname  %></td> -->
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- 6th Tab -->
    <div role="tabpanel" class="tab-pane" id="approveDoc">
    <div class="panel panel-success">
      <div class="panel-heading"><strong>Approve Document</strong></div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Document name</th>
          <th>Updated By</th>
          <th>Updated at</th>
          <th>Approve status</th>
          <th colspan="3">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% count = 1 %>
        <% @approvals.each do |doc| %>
            <tr>
              <td><%= count %></td>
              <td><%= doc.document_name  %></td>
              <% usr2 =  User.find(doc.updated_by_id) %>
              <td><%= usr2.firstname+" "+usr2.lastname %></td>
              <td><%=doc.updated_at.strftime("%Y-%m-%d") %></td>
              <% if doc.approveStatus.nil? %>
                <td>Pending to approve..</td>
              <% else %>
                <td><%=doc.approveStatus %></td>
              <% end %>
              <td><%= link_to 'Download Lastest Version', doc.file.url,:class => "btn btn-warning", :style => "width:100%;" %></td>
              <% if doc.approveStatus.nil? %>
                  <td><%= link_to "Approve", {:controller => :document_versions, :action=> :set_active_doc, :project_id => doc.project_id, document_id: doc.id}, :class =>'btn btn-success', :style=>"width:100%;" %></td>
              <% else %>
                  <td><a href='#' class = "btn btn-success disabled" style = "width:100%;">Approved</a></td>
              <% end %>
              <td>
                <%= link_to "Reject", {:controller => :document_versions, :action=> :set_deactive_doc, :project_id => doc.project_id, document_id: doc.id}, :class =>'btn btn-danger', :style=>"width:100%;" %>
              </td>
            </tr>
            <% count += 1 %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>

<script type="text/javascript">
$('.bar-percentage[data-percentage]').each(function () {
  var progress = $(this);
  var percentage = Math.ceil($(this).attr('data-percentage'));
  var total = 15;
  var percentage = percentage * (20/3);
  
  $({countNum: 0}).animate({countNum: percentage}, {
    duration: 1000,
    easing:'linear',
    step: function() {
      // What todo on every count
    var pct = '';
    if(percentage == 0){
      pct = Math.floor(this.countNum) + '%';
    }else{
      pct = Math.floor(this.countNum+1) + '%';
    }
    progress.text(pct) && progress.siblings().children().css('width',pct);
    }
  });
});
</script>
