<p id="notice"><%= notice %></p>
<p>
  <strong>Project name:</strong>
  <%= @project.project_name %>
</p>

<p>
  <strong>Project ID:</strong>
  <%= @project.id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>


<table class="table">
  <thead>
    <tr>
      <th>Team Members</th>
      <th>Assign</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname+ " "+ user.lastname  %></td>
        <% if (ProjectUserRole.find_by_user_id_id(user.id)).nil? %>
            <td><%= link_to image_tag('off.jpg'), {:controller => :projects, :action=> :set_active, :project_id => @project.id, user_id: user.id, :assign => 1}, :class =>'assign' %></td>
        <% else %>
            <td><%= link_to image_tag('on.jpg'), {:controller => :projects, :action=> :set_deactive, :project_id => @project.id, user_id: user.id, :assign => 1}, :class =>'assign' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
