<%= form_for(@project_user_role) do |f| %>
  <% if @project_user_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_user_role.errors.count, "error") %> prohibited this project_user_role from being saved:</h2>

      <ul>
      <% @project_user_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id_id %><br>
    <%= f.text_field :user_id_id %>
  </div>
  <div class="field">
    <%= f.label :role_id_id %><br>
    <%= f.text_field :role_id_id %>
  </div>
  <div class="field">
    <%= f.label :project_id_id %><br>
    <%= f.text_field :project_id_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
