<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project_user_role.user_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @project_user_role.role_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_user_role.project_id %>
</p>

<%= link_to 'Edit', edit_project_user_role_path(@project_user_role) %> |
<%= link_to 'Back', project_user_roles_path %>
